<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>
			<canvas id="myChart"></canvas>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4"></script>
		<script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
		<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>

		<script>
			function main(rawPlantData) {
				const plantMoistureData = rawPlantData.map(({moisture_percent, timestamp}) => ({
					x: timestamp,
					y: moisture_percent,
				}));

				const plantVoltageData = rawPlantData.map(({moisture_voltage, timestamp}) => ({
					x: timestamp,
					y: moisture_voltage,
				}));

				const ctx = document.getElementById('myChart');

				new Chart(ctx, {
					type: 'line',
					options: {
						scales: {
							moisture: {
								type: 'linear',
								display: true,
								position: 'left',
							},
							voltage: {
								type: 'linear',
								display: true,
								position: 'right',
							},
							x: {
								type: 'time',
								time: {
									unit: 'hour',
									displayFormats: {
										hour: 'DD HH:mm',
									},
								},
							},
						},
					},
					data: { datasets: [
						{ label: 'Moisture', data: plantMoistureData, yAxisID: 'moisture' },
						{ label: 'Voltage', data: plantVoltageData, yAxisID: 'voltage' },
					] }
				});
			}
		</script>
		<script>
			main({{ rawPlantData|tojson }});
		</script>
	</body>
</html>
